# Required
LIBRARY_PATH=/absolute/path/to/your/Calibre Library
PUID=1000
PGID=1000
TZ=Europe/London

# Optional
CALIBRE_WEB_CLI_PORT=8084
CALIBRE_WEB_CLI_PASSWORD=
CALIBRE_WEB_CLI_METADATA_SOURCES=Amazon,Google
CALIBRE_WEB_CLI_DEVICE_FORMAT_ORDER=EPUB,AZW3,MOBI,PDF
CALIBRE_WEB_CLI_PAGE_SIZE=48
CALIBRE_WEB_CLI_MTP_USB_IDS=
CALIBRE_WEB_CLI_SNAPSHOT_RETENTION_DAYS=14
DATA_PATH=./data
